<% if logged_in? %>
  <div class="col-md-8">
    <h3>投稿一覧</h3>

    <div class="search-form">
      <%= form_with(scope: :search, url: root_path, method: :get, local: true) do |f| %>

        <div class="field">
          <%= f.label(:name, "名前") %>
          <%= f.text_field :name, value: @search_params[:name] %>
        </div>

        <div class="field">
          <%= f.label(:address, "住所") %>
          <%= f.text_field :address, value: @search_params[:address] %>
        </div>

        <div class="actions">
          <%= f.submit "検索" %>
        </div>
      <% end %>
    </div>

    <% if @feed_items.any? %>
      <ol class="microposts">
        <%= render @feed_items %>
      </ol>
      <%= will_paginate @feed_items %>
    <% end %>

  </div>
<% else %>
  <h1>サウナシェア</h1>
  <p>ホーム画面</p>
  <%= link_to "新規登録", signup_path, class: "btn btn-primary" %>
<% end %>
