<% if logged_in? %>
  <div class="col-md-8">
    <h3>投稿一覧</h3>

    <div class="search-form">
      <%= form_with(scope: :search, url: root_path, method: :get, local: true) do |f| %>

        <div class="field">
          <%= f.label :name, Micropost.human_attribute_name("name") %>
          <%= f.text_field :name, value: @search_params[:name] %>
        </div>

        <div class="field">
          <%= f.label :address, Micropost.human_attribute_name("address") %>
          <%= f.text_field :address, value: @search_params[:address] %>
        </div>

        <div class="field">
          <%= f.label :price, Micropost.human_attribute_name("price") %>
          <%= f.text_field :price_from, value: @search_params[:price_from] %> ~
          <%= f.text_field :price_to, value: @search_params[:price_to] %>
        </div>

        <div class="field">
          <%= f.label :sauna, Micropost.human_attribute_name("sauna") %>
          <%= f.collection_radio_buttons :sauna, Micropost.saunas, :first, :first do |r| %>
            <%= tag.div class: 'form-check form-check-inline' do %>
              <%= r.radio_button(checked: r.value == @search_params[:sauna], class: 'form-check-input') %>
              <%= f.label(Micropost.human_attribute_name("sauna.#{r.text}"), class: 'form-check-label') %>
            <% end %>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :evaluate, Micropost.human_attribute_name("evaluate") %>
          <%= f.collection_select :evaluate, [1, 2, 3, 4, 5], :to_s, :to_s, selected: @search_params[:evaluate], include_blank: '選択' %>
        </div>

        <div class="actions">
          <%= f.submit "検索" %>
        </div>
      <% end %>
    </div>

    <% if @feed_items.any? %>
      <ol class="microposts">
        <%= render @feed_items %>
      </ol>
      <%= will_paginate @feed_items %>
    <% end %>

  </div>
<% else %>
  <div class="top">
    <%= image_tag "sauna_toppage2.jpg" %>
    <h1>Sauna Share</h1>
    <h2>全国のサウナ情報をみんなでシェアしよう！</h2>
  </div>
  <div class="btn-top">
    <%= link_to "新規登録", signup_path, class: "btn btn-primary" %>
  </div>
<% end %>
