<div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= link_to gravatar_for(current_user, size: 50), current_user %>
        <h1><%= current_user.name %></h1>
      </section>
      <section class="micropost_form">
        <%= form_with(model: @micropost, local: true) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :name, "名前" %>
          <%= f.text_field :name, class: "field" %>

          <%= f.label :address, "住所" %>
          <%= f.text_field :address, class: "field" %>

          <%= f.label :price, "値段" %>
          <%= f.text_field :price, class: "field" %>

          <%= f.label :sauna, "サウナの有無" %>
          <%= f.select :sauna, [["有", 1], ["無", 0]], class: "field" %>

          <%= f.label :evaluate, "評価" %>
          <%= f.select :evaluate, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], class: "field" %>

          <%= f.submit "投稿", class: "btn btn-primary" %>
        <% end %>
      </section>
    </aside>
  </div>
